
//Smartphones

@include mediaSm{
  main#home h1 {
    margin-top: 10vh;
  }

  main#about{

  }
  .about-info{
  display: block;


  }
 .menu-branding .portrait {
    visibility: hidden;
    display:none;
  }

  .menu-branding p {
    visibility: hidden;
  }

  .menu-branding h1 {
    font-size: 2rem;
}
}

// tablets & small laptops
@include  mediaMd{
  main{
    align-items:center;
    text-align:center;

    .lg-heading{
      line-height: 1;
      margin-bottom:1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding{
    float:none;
    width:100%;
    min-height:0;

    &.show{
      transform:translate3d(0,0,0);
    }


  }
  .menu-nav{
    height:75vh;
   // transform:translate3d(0,0,-1000px);
    font-size:24px;
  }
  .menu-branding{
    height:25vh;
    transform:translate3d(100%,0,0);
  }
  .about-info{
    display: block;
  
  
    }

    .menu-branding .portrait {
      visibility: hidden;
      display:none;
    }
    .menu-branding p {
      visibility: hidden;
    }
    .menu-branding h1 {
      font-size: 2rem;
  }
  #survivor-report{
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
  }





}

// Desktops and laptops
@include  mediaLg{

  #survivor-report{
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
    }
}

//Widscreens
@include mediaXl{
 
}
