Options -MultiViews
RewriteEngine On

RewriteBase /miscreated-dmg-log-dashboard/public

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
