* {
  box-sizing: border-box; }

body {
  background: #4A4729;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Heebo', sans-serif;
  line-height: 1.5; }

h1, h2, h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading, h2.sm-heading, h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(75, 72, 41, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 3;
  width: 100%; }

.text-secondary {
  color: #FFCB46; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main position:relative
.icons {
    margin-top: 1rem; }
  main a {
    padding: 0.4rem; }
    main a:hover {
      color: #FFCB46;
      transition: all 1.5s ease-out; }

#home {
  overflow: hidden; }
  #home#home {
    background: url("http://localhost/miscreated-dmg-log-dashboard/public/css/images/deadbody_hanging_in_snow.jpg");
    background-attachment: fixed;
    background-size: cover; }
  #home:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100;
    z-index: -1;
    background: rgba(74, 71, 41, 0.9); }
  #home h1 {
    margin-top: 20vh; }

form {
  background: rgba(75, 72, 41, 0.5); }

.menu-btn {
  position: absolute;
  z-index: 6;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 1.5s ease-out; }
  .menu-btn .btn-line {
    width: 20px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 1.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  top: 0;
  opacity: 0.9;
  z-index: 5;
  visibility: hidden; }
  .menu.show {
    visibility: visible;
    z-index: 5;
    width: 100%; }
  .menu-branding {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #3a3720;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    z-index: 1;
    transition: all 1.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0);
      z-index: 5; }
    .menu-nav .portrait {
      width: 250px;
      height: 250px;
      background: url("../css/images/fire.jpg");
      border-radius: 50%;
      border: solid 3px #FFCB46; }
  .menu.branding {
    background: #4A4729;
    transform: translate3d(0, -100, 0);
    transition: all 1.5s ease-out; }
    .menu.branding.show {
      z-index: 5;
      transform: translate3d(0, 100%, 0); }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 1.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #FFCB46; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 1.5s ease-out; }
    .menu .nav-link:hover {
      color: #FFCB46; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

.nav-item:nth-child(5) {
  transition-delay: 0.5s; }

.nav-item:nth-child(6) {
  transition-delay: 0.6s; }

.nav-item:nth-child(7) {
  transition-delay: 0.7s; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); }

.bio-image {
  grid-area: bioimage; }

.bio {
  grid-area: bio;
  font-size: 1.5rem; }

.job-1 {
  grid-area: job1; }

.job-2 {
  grid-area: job2; }

.job-3 {
  grid-area: job3; }

.job {
  background: #5a5732;
  padding: 0.5rem;
  border-bottom: #FFCB46 5px solid; }

footer {
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
  height: 60px;
  justify-content: center;
  display: grid; }

#contact {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr); }
  #contact#contact {
    background: url("http://localhost/miscreated-dmg-log-dashboard/public/css/images/get_out.jpg");
    background-attachment: fixed;
    background-size: cover; }
  #contact:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100;
    z-index: -1;
    background: rgba(74, 71, 41, 0.9); }
  #contact h1 {
    grid-column-start: 1;
    grid-column-end: 7; }
  #contact h2 {
    grid-column-start: 1;
    grid-column-end: 7; }
  #contact form {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3; }

.contact-us {
  position: relative; }

.projects {
  display: grid; }

.profile-section {
  background: rgba(0, 0, 0, 0.5); }

.trending-posts {
  background: rgba(0, 0, 0, 0.5); }

.image-box {
  height: 100px;
  width: 100px;
  border-radius: 50%; }

.comment-box {
  border-bottom: 1px solid #FFCB46;
  padding: 2rem 0; }

.flashErr {
  background: #86C5FF;
  color: #fff;
  height: 5vh; }

.container {
  position: relative;
  z-index: 2;
  background: rgba(153, 149, 103, 0.8); }

@keyframes filling {
  from {
    background-position: center 25%; }
  to {
    background-position: center 50%; } }

.container-text {
  background-image: url(https://static.pexels.com/photos/4827/nature-forest-trees-fog.jpeg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: 10px auto;
  color: #FFFFFF;
  justify-content: center;
  font-size: 8rem;
  animation: filling 3s ease forwards; }

.post-comment-container {
  margin: 2rem 0;
  background: rgba(0, 0, 0, 0.5); }

.post {
  padding: 2rem 0;
  border: 1px solid gold;
  min-height: 6rem;
  position: relative; }
  .post .comment-box {
    position: relative; }
  .post .reply {
    position: absolute;
    bottom: 0;
    right: 0; }
  .post .date-added {
    position: absolute;
    left: 0;
    bottom: 0; }

.who-to-follow {
  background: rgba(0, 0, 0, 0.5); }

.post-body {
  display: block;
  height: 5rem;
  width: 100%; }

.reply-body {
  display: block;
  height: 5rem;
  width: 100%; }

.reply-button {
  padding: 0.7rem 0;
  width: 100%;
  background: #FFCB46;
  color: white;
  font-weight: bold; }

.home-post ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 0; }

.post-text-body {
  position: relative; }

.overlay {
  background: rgba(0, 0, 0, 0.9);
  margin: 0 auto;
  height: 100%;
  width: 100%;
  transition: 5s;
  z-index: 10;
  position: absolute; }

.pop-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 5s, opacity 5s linear; }

.pop-up-container {
  top: 15%;
  right: auto;
  height: 400px;
  width: 400px;
  right: 40%;
  background: linear-gradient(to bottom, rgba(75, 72, 41, 0.5) 0%, rgba(52, 50, 28, 0.5) 100%);
  position: fixed;
  z-index: 11;
  visibility: visible;
  opacity: 1;
  padding: 4rem;
  transition: visibility 5s, opacity 5s linear; }

.close-pop-up-container {
  position: absolute;
  z-index: 11;
  top: 0;
  right: 0;
  height: 3px;
  width: 20px; }
  .close-pop-up-container .btn-line {
    border: 1px solid white; }

.close-pop-up-container:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px); }

.close-pop-up-container:nth-child(2) {
  transform: rotate(-45deg) translate(7px, -6px); }

.home-post button {
  padding: 0.7rem 0;
  width: 100%;
  background: #FFCB46;
  color: white;
  font-weight: bold; }

#register#register {
  background: url("http://localhost/miscreated-dmg-log-dashboard/public/css/images/the_cross.jpg");
  background-attachment: fixed;
  background-size: cover; }

#register:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100;
  z-index: -1;
  background: rgba(74, 71, 41, 0.9); }

#login#login {
  background: url("http://localhost/miscreated-dmg-log-dashboard/public/css/images/squad.jpg");
  background-attachment: fixed;
  background-size: cover; }

#login:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100;
  z-index: -1;
  background: rgba(74, 71, 41, 0.9); }

#reset#reset {
  background: url("http://localhost/miscreated-dmg-log-dashboard/public/css/images/the_drive.jpg");
  background-attachment: fixed;
  background-size: cover; }

#reset:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100;
  z-index: -1;
  background: rgba(74, 71, 41, 0.9); }

#survivor-profile .header-background-img img {
  height: 400px;
  width: 100%; }

#survivor-profile .header-container {
  position: relative; }

#survivor-profile .profile-image-container {
  position: absolute;
  left: 0;
  bottom: 4%; }

#survivor-report table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed; }

#survivor-report table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em; }

#survivor-report table tr {
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid #ddd;
  padding: .35em; }

#survivor-report table th,
#survivor-report table td {
  padding: .625em;
  text-align: center; }

#survivor-report table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase; }

@media screen and (max-width: 600px) {
  #survivor-report table {
    border: 0; }
  #survivor-report table caption {
    font-size: 1.3em; }
  #survivor-report table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  #survivor-report table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em; }
  #survivor-report table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right; }
  #survivor-report table td::before {
    /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase; }
  #survivor-report table td:last-child {
    border-bottom: 0; } }

/*********************
RESPONSIVE BREAKPOINT
**********************/
body {
  overflow-x: hidden; }

/*********************
NAVIGATION STYLES
**********************/
nav {
  width: 100%;
  background: linear-gradient(to bottom, rgba(75, 72, 41, 0.5) 0%, rgba(52, 50, 28, 0.5) 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35); }
  @media (max-width: 715px) {
    nav {
      margin: 65px 0 0 0;
      max-height: 0;
      overflow: hidden;
      transition: all 0.5s ease;
      background: rgba(59, 56, 32, 0.5); } }

nav ul {
  margin: 0;
  list-style: none; }
  @media (max-width: 715px) {
    nav ul {
      margin: 0;
      padding: 0;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
      z-index: 15; } }
  nav ul li {
    float: left;
    position: relative;
    z-index: 1;
    /******************
    SUBNAV
    ******************/ }
    @media (max-width: 715px) {
      nav ul li {
        float: none;
        position: relative;
        margin: 0; } }
    nav ul li a {
      display: block;
      padding: 15px 20px;
      text-align: center;
      color: white;
      text-decoration: none;
      border-right: 1px solid rgba(42, 40, 23, 0.5);
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
      transition: all 0.1s ease-out; }
      nav ul li a:hover {
        background: rgba(42, 40, 23, 0.5);
        color: #FFCB46;
        transition: all 0.2s ease-out; }
      @media (max-width: 715px) {
        nav ul li a {
          display: table;
          margin: 0;
          padding: 15px 2px;
          color: white;
          border-top: 1px solid rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 1px 3px rgba(255, 255, 255, 0.03);
          text-shadow: none;
          width: 100%; } }
    nav ul li:hover ul {
      opacity: 1;
      max-height: 1000px;
      transition: all 0.3s ease-out; }
      @media (max-width: 715px) {
        nav ul li:hover ul {
          max-height: 0; } }
    nav ul li ul {
      background: rgba(42, 40, 23, 0.5);
      list-style: none;
      padding: 0;
      position: absolute;
      width: 200px;
      max-height: 0;
      z-index: 0;
      opacity: 0;
      overflow: hidden;
      font-size: .9em;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
      transition: all 0.3s ease-out; }
      @media (max-width: 715px) {
        nav ul li ul {
          max-height: 0;
          opacity: 1;
          width: 100%;
          position: relative;
          overflow: hidden;
          box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.5);
          transition: all 2s ease-out; } }
      nav ul li ul li {
        float: none;
        margin: 0; }
        @media (max-width: 715px) {
          nav ul li ul li {
            margin: 0; } }
        nav ul li ul li a {
          display: block;
          text-align: left;
          padding: 10px 13.33333px;
          margin: 0;
          border-right: none;
          border-top: 1px solid rgba(35, 34, 19, 0.5);
          box-shadow: inset 0px 1px 3px rgba(255, 255, 255, 0.03);
          text-transform: none;
          text-shadow: none;
          transition: all 0.2s ease-out; }
          nav ul li ul li a:hover {
            color: #FFCB46;
            background: rgba(91, 88, 50, 0.5);
            transition: all 0.5s ease-out; }
          @media (max-width: 715px) {
            nav ul li ul li a {
              color: white;
              padding-left: 20px;
              background: none; } }

/***************************
MOBILE NAV STYLES
***************************/
.mobile {
  display: none;
  margin: 0;
  padding: 20px 15px;
  background: linear-gradient(to bottom, #353535 0%, #262626 100%);
  position: absolute;
  color: white;
  text-decoration: none;
  top: 15px;
  right: 15px;
  line-height: 0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35); }
  @media (max-width: 715px) {
    .mobile {
      display: table; } }

.active {
  max-height: 9000px !important;
  transition: all 1s ease-out; }

@media (max-width: 715px) {
  .arrow {
    display: block;
    background: url(http://www.jasonkinney.me/images/arrow.png) no-repeat;
    float: right;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 25px;
    top: 10px;
    transition: all 0.3s ease-out; }
    .arrow:hover {
      cursor: pointer; }
  .rotate {
    transition: all 0.3s ease-out;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); } }

*,
*::before,
*::after {
  box-sizing: border-box; }

.grid {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem; }

.grid__item {
  padding: 0.5rem; }

.grid__item--xs-span-1 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-1 {
      flex: 0 0 8.33333%; } }

.grid__item--xs-span-2 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-2 {
      flex: 0 0 16.66667%; } }

.grid__item--xs-span-3 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-3 {
      flex: 0 0 25%; } }

.grid__item--xs-span-4 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-4 {
      flex: 0 0 33.33333%; } }

.grid__item--xs-span-5 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-5 {
      flex: 0 0 41.66667%; } }

.grid__item--xs-span-6 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-6 {
      flex: 0 0 50%; } }

.grid__item--xs-span-7 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-7 {
      flex: 0 0 58.33333%; } }

.grid__item--xs-span-8 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-8 {
      flex: 0 0 66.66667%; } }

.grid__item--xs-span-9 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-9 {
      flex: 0 0 75%; } }

.grid__item--xs-span-10 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-10 {
      flex: 0 0 83.33333%; } }

.grid__item--xs-span-11 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-11 {
      flex: 0 0 91.66667%; } }

.grid__item--xs-span-12 {
  flex: 0 0 100%; }
  @media (min-width: 32rem) {
    .grid__item--xs-span-12 {
      flex: 0 0 100%; } }

.grid__item--sm-span-1 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-1 {
      flex: 0 0 8.33333%; } }

.grid__item--sm-span-2 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-2 {
      flex: 0 0 16.66667%; } }

.grid__item--sm-span-3 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-3 {
      flex: 0 0 25%; } }

.grid__item--sm-span-4 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-4 {
      flex: 0 0 33.33333%; } }

.grid__item--sm-span-5 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-5 {
      flex: 0 0 41.66667%; } }

.grid__item--sm-span-6 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-6 {
      flex: 0 0 50%; } }

.grid__item--sm-span-7 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-7 {
      flex: 0 0 58.33333%; } }

.grid__item--sm-span-8 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-8 {
      flex: 0 0 66.66667%; } }

.grid__item--sm-span-9 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-9 {
      flex: 0 0 75%; } }

.grid__item--sm-span-10 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-10 {
      flex: 0 0 83.33333%; } }

.grid__item--sm-span-11 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-11 {
      flex: 0 0 91.66667%; } }

.grid__item--sm-span-12 {
  flex: 0 0 100%; }
  @media (min-width: 48rem) {
    .grid__item--sm-span-12 {
      flex: 0 0 100%; } }

.grid__item--md-span-1 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-1 {
      flex: 0 0 8.33333%; } }

.grid__item--md-span-2 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-2 {
      flex: 0 0 16.66667%; } }

.grid__item--md-span-3 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-3 {
      flex: 0 0 25%; } }

.grid__item--md-span-4 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-4 {
      flex: 0 0 33.33333%; } }

.grid__item--md-span-5 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-5 {
      flex: 0 0 41.66667%; } }

.grid__item--md-span-6 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-6 {
      flex: 0 0 50%; } }

.grid__item--md-span-7 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-7 {
      flex: 0 0 58.33333%; } }

.grid__item--md-span-8 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-8 {
      flex: 0 0 66.66667%; } }

.grid__item--md-span-9 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-9 {
      flex: 0 0 75%; } }

.grid__item--md-span-10 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-10 {
      flex: 0 0 83.33333%; } }

.grid__item--md-span-11 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-11 {
      flex: 0 0 91.66667%; } }

.grid__item--md-span-12 {
  flex: 0 0 100%; }
  @media (min-width: 72rem) {
    .grid__item--md-span-12 {
      flex: 0 0 100%; } }

.grid__item--lg-span-1 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-1 {
      flex: 0 0 8.33333%; } }

.grid__item--lg-span-2 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-2 {
      flex: 0 0 16.66667%; } }

.grid__item--lg-span-3 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-3 {
      flex: 0 0 25%; } }

.grid__item--lg-span-4 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-4 {
      flex: 0 0 33.33333%; } }

.grid__item--lg-span-5 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-5 {
      flex: 0 0 41.66667%; } }

.grid__item--lg-span-6 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-6 {
      flex: 0 0 50%; } }

.grid__item--lg-span-7 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-7 {
      flex: 0 0 58.33333%; } }

.grid__item--lg-span-8 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-8 {
      flex: 0 0 66.66667%; } }

.grid__item--lg-span-9 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-9 {
      flex: 0 0 75%; } }

.grid__item--lg-span-10 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-10 {
      flex: 0 0 83.33333%; } }

.grid__item--lg-span-11 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-11 {
      flex: 0 0 91.66667%; } }

.grid__item--lg-span-12 {
  flex: 0 0 100%; }
  @media (min-width: 96rem) {
    .grid__item--lg-span-12 {
      flex: 0 0 100%; } }

.grid__item--xl-span-1 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-1 {
      flex: 0 0 8.33333%; } }

.grid__item--xl-span-2 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-2 {
      flex: 0 0 16.66667%; } }

.grid__item--xl-span-3 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-3 {
      flex: 0 0 25%; } }

.grid__item--xl-span-4 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-4 {
      flex: 0 0 33.33333%; } }

.grid__item--xl-span-5 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-5 {
      flex: 0 0 41.66667%; } }

.grid__item--xl-span-6 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-6 {
      flex: 0 0 50%; } }

.grid__item--xl-span-7 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-7 {
      flex: 0 0 58.33333%; } }

.grid__item--xl-span-8 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-8 {
      flex: 0 0 66.66667%; } }

.grid__item--xl-span-9 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-9 {
      flex: 0 0 75%; } }

.grid__item--xl-span-10 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-10 {
      flex: 0 0 83.33333%; } }

.grid__item--xl-span-11 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-11 {
      flex: 0 0 91.66667%; } }

.grid__item--xl-span-12 {
  flex: 0 0 100%; }
  @media (min-width: 102rem) {
    .grid__item--xl-span-12 {
      flex: 0 0 100%; } }

.grid__item--xx-span-1 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-1 {
      flex: 0 0 8.33333%; } }

.grid__item--xx-span-2 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-2 {
      flex: 0 0 16.66667%; } }

.grid__item--xx-span-3 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-3 {
      flex: 0 0 25%; } }

.grid__item--xx-span-4 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-4 {
      flex: 0 0 33.33333%; } }

.grid__item--xx-span-5 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-5 {
      flex: 0 0 41.66667%; } }

.grid__item--xx-span-6 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-6 {
      flex: 0 0 50%; } }

.grid__item--xx-span-7 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-7 {
      flex: 0 0 58.33333%; } }

.grid__item--xx-span-8 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-8 {
      flex: 0 0 66.66667%; } }

.grid__item--xx-span-9 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-9 {
      flex: 0 0 75%; } }

.grid__item--xx-span-10 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-10 {
      flex: 0 0 83.33333%; } }

.grid__item--xx-span-11 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-11 {
      flex: 0 0 91.66667%; } }

.grid__item--xx-span-12 {
  flex: 0 0 100%; }
  @media (min-width: 120rem) {
    .grid__item--xx-span-12 {
      flex: 0 0 100%; } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; }
  .about-info {
    display: block; }
  .menu-branding .portrait {
    visibility: hidden;
    display: none; }
  .menu-branding p {
    visibility: hidden; }
  .menu-branding h1 {
    font-size: 2rem; } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
  .about-info {
    display: block; }
  .menu-branding .portrait {
    visibility: hidden;
    display: none; }
  .menu-branding p {
    visibility: hidden; }
  .menu-branding h1 {
    font-size: 2rem; }
  #survivor-report table {
    border: 0; }
  #survivor-report table caption {
    font-size: 1.3em; }
  #survivor-report table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  #survivor-report table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em; }
  #survivor-report table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right; }
  #survivor-report table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase; }
  #survivor-report table td:last-child {
    border-bottom: 0; } }

@media screen and (max-width: 769px) and (max-width: 1170px) {
  #survivor-report table {
    border: 0; }
  #survivor-report table caption {
    font-size: 1.3em; }
  #survivor-report table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  #survivor-report table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em; }
  #survivor-report table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right; }
  #survivor-report table td::before {
    /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase; }
  #survivor-report table td:last-child {
    border-bottom: 0; } }
