.row {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.col {
  flex: 1 1 8%;
  margin: 0 0 0.5rem 0;
  padding: 0.5em 10px;
  box-sizing: border-box; }

/* nested grids */
.row .row, .row.nested {
  flex: 1 1 auto;
  margin-top: -0.5em; }

/* full width grids */
.row.wide-fit {
  margin-left: -10px;
  margin-right: -10px; }

/* center grids */
.row.center {
  justify-content: center; }

.center .col {
  flex-grow: 0;
  flex-shrink: 0; }

/* columns widths */
.col-span-1 {
  flex-basis: 8.3333%; }

.col-span-2 {
  flex-basis: 16.6666%; }

.col-span-3 {
  flex-basis: 25%; }

.col-span-4 {
  flex-basis: 33.3333%; }

.col-span-5 {
  flex-basis: 41.6666%; }

.col-span-6 {
  flex-basis: 50%; }

.col-span-7 {
  flex-basis: 58.3333%; }

.col-span-8 {
  flex-basis: 66.6666%; }

.col-span-9 {
  flex-basis: 75%; }

.col-span-10 {
  flex-basis: 83.3333%; }

.col-span-11 {
  flex-basis: 91.6666%; }

.col-span-12 {
  flex-basis: 100%; }

/* examples */
.fixed-width {
  flex: 0 0 500px;
  background-color: rgba(255, 0, 0, 0.1) !important; }

@media all and (max-width: 568px) {
  .col-span-1,
  .col-span-2,
  .col-span-3,
  .col-span-4,
  .col-span-5 {
    flex-basis: 50%; }
  .col-span-6,
  .col-span-7,
  .col-span-8,
  .col-span-9,
  .col-span-10,
  .col-span-11 {
    flex-basis: 100%; }
  .nested .col {
    flex-basis: 100%; } }

/* eye candy */
body {
  font-family: sans-serif; }

.row {
  background-color: #cccccc;
  background-color: rgba(0, 0, 0, 0.1); }

.col {
  background-color: #999999;
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: content-box;
  border: 1px solid rgba(0, 0, 0, 0.1); }

* {
  box-sizing: border-box; }

body {
  background: #4A4729;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Rockwell', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }

h1, h2, h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading, h2.sm-heading, h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(75, 72, 41, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100px; }

.text-secondary {
  color: #FFCB46; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main position:relative
.icons {
    margin-top: 1rem; }
  main a {
    padding: 0.4rem; }
    main a:hover {
      color: #FFCB46;
      transition: all 1.5s ease-out; }

#home {
  overflow: hidden; }
  #home#home {
    background: url("http://localhost/miscreated-dmg-log-dashboard/public/css/images/deadbody_hanging_in_snow.jpg");
    background-attachment: fixed;
    background-size: cover; }
  #home:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100;
    z-index: -1;
    background: rgba(74, 71, 41, 0.9); }
  #home h1 {
    margin-top: 20vh;
    animation: moveRight 1s ease-in; }
  #home h2 {
    animation: moveLeft 1s ease-in; }

#about h1 {
  animation: moveRight 1s ease-in; }

#about h2 {
  animation: moveLeft 1s ease-in; }

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

form {
  background: rgba(75, 72, 41, 0.5); }

.menu-btn {
  position: absolute;
  z-index: 6;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 1.5s ease-out; }
  .menu-btn .btn-line {
    width: 20px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 1.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  top: 0;
  opacity: 0.9;
  z-index: 5;
  visibility: hidden; }
  .menu.show {
    visibility: visible;
    z-index: 5;
    width: 100%; }
  .menu-branding {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    background: #4A4729;
    transform: translate3d(0, 100%, 0);
    transition: all 1.5s ease-out; }
    .menu-branding .portrait {
      /*border:0.5rem solid #3a3720;*/
      border-radius: 50%;
      -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); }
    .menu-branding h1 {
      font-size: 3rem;
      color: #FFCB46; }
    .menu-branding img {
      width: 10rem;
      height: 10rem;
      border-radius: 50%; }
    .menu-branding.show {
      z-index: 5;
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #3a3720;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    z-index: 1;
    transition: all 1.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0);
      z-index: 5; }
    .menu-nav .portrait {
      width: 250px;
      height: 250px;
      background: url("../css/images/fire.jpg");
      border-radius: 50%;
      border: solid 3px #FFCB46; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 1.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #FFCB46; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 1.5s ease-out; }
    .menu .nav-link:hover {
      color: #FFCB46; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

.nav-item:nth-child(5) {
  transition-delay: 0.5s; }

.nav-item:nth-child(6) {
  transition-delay: 0.6s; }

.nav-item:nth-child(7) {
  transition-delay: 0.7s; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); }
  .about-info img {
    border: 0;
    object-fit: cover;
    width: 100%; }

.bio-image {
  grid-area: bioimage; }

.bio {
  grid-area: bio;
  font-size: 1.5rem; }

.job-1 {
  grid-area: job1; }

.job-2 {
  grid-area: job2; }

.job-3 {
  grid-area: job3; }

.job {
  background: #5a5732;
  padding: 0.5rem;
  border-bottom: #FFCB46 5px solid; }

footer {
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
  height: 60px;
  justify-content: center;
  display: grid;
  align-content: center; }

#contact {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: repeat(6,1fr); */ }
  #contact#contact {
    background: url("http://localhost/miscreated-dmg-log-dashboard/public/css/images/get_out.jpg");
    background-attachment: fixed;
    background-size: cover; }
  #contact:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100;
    z-index: -1;
    background: rgba(74, 71, 41, 0.9); }
  #contact h1 {
    grid-column-start: 1;
    grid-column-end: 7; }
  #contact h2 {
    grid-column-start: 1;
    grid-column-end: 7;
    height: 10vh; }
  #contact form {
    grid-column-start: 2;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    grid-gap: 1rem; }
  #contact form input {
    height: 32px;
    grid-column-start: 2;
    grid: column end 3; }
  #contact form label {
    grid-column-start: 2;
    grid: column end 3; }
  #contact form textarea {
    grid-column-start: 2;
    grid: column end 3; }

.contact-us {
  position: relative; }

.projects {
  display: grid; }

.flashErr {
  background: #86C5FF;
  color: #fff;
  height: 5vh; }

.container {
  position: relative;
  z-index: 2;
  background: rgba(153, 149, 103, 0.8); }

@keyframes filling {
  from {
    background-position: center 25%; }
  to {
    background-position: center 50%; } }

.container-text {
  background-image: url(https://static.pexels.com/photos/4827/nature-forest-trees-fog.jpeg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: 10px auto;
  color: #FFFFFF;
  justify-content: center;
  font-size: 8rem;
  animation: filling 3s ease forwards; }

#register#register {
  background: url("http://localhost/miscreated-dmg-log-dashboard/public/css/images/the_cross.jpg");
  background-attachment: fixed;
  background-size: cover; }

#register:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100;
  z-index: -1;
  background: rgba(74, 71, 41, 0.9); }

#register form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem; }

#register form input {
  height: 32px;
  grid-column-start: 2;
  grid: column end 3; }

#register form label {
  grid-column-start: 2;
  grid: column end 3; }

#register form textarea {
  grid-column-start: 2;
  grid: column end 3; }

#register .instructions {
  grid-column-start: 1;
  grid-column-end: 7; }

#register input[type=submit] {
  border: 2px solid #D24D57;
  background: white; }

#register input[type=submit]::before,
#register input[type=submit]::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1; }

#register input[type=submit] {
  overflow: hidden; }

#register input[type=submit]::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0; }

#register input[type=submit]:hover:after {
  height: 100%;
  width: 135%; }

#login#login {
  background: url("http://localhost/miscreated-dmg-log-dashboard/public/css/images/squad.jpg");
  background-attachment: fixed;
  background-size: cover; }

#login:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100;
  z-index: -1;
  background: rgba(74, 71, 41, 0.9); }

#login form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem; }

#login form input {
  height: 32px;
  grid-column-start: 2;
  grid: column end 3; }

#login form label {
  grid-column-start: 2;
  grid: column end 3; }

#login form textarea {
  grid-column-start: 2;
  grid: column end 3; }

#reset#reset {
  background: url("http://localhost/miscreated-dmg-log-dashboard/public/css/images/the_drive.jpg");
  background-attachment: fixed;
  background-size: cover; }

#reset:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100;
  z-index: -1;
  background: rgba(74, 71, 41, 0.9); }

#reset form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem; }

#reset form input {
  height: 32px;
  grid-column-start: 2;
  grid: column end 3; }

#reset form label {
  grid-column-start: 2;
  grid: column end 3; }

#reset form textarea {
  grid-column-start: 2;
  grid: column end 3; }

#survivor-home {
  /* nested grids */
  /* full width grids */
  /* center grids */
  /* columns widths */
  /* examples */
  /* eye candy */ }
  #survivor-home .row {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  #survivor-home .col {
    flex: 1 1 8%;
    margin: 0 0 0.5rem 0;
    padding: 0.5em 10px;
    box-sizing: border-box; }
  #survivor-home .row .row, #survivor-home .row.nested {
    flex: 1 1 auto;
    margin-top: -0.5em; }
  #survivor-home .row.wide-fit {
    margin-left: -10px;
    margin-right: -10px; }
  #survivor-home .row.center {
    justify-content: center; }
  #survivor-home .center .col {
    flex-grow: 0;
    flex-shrink: 0; }
  #survivor-home .col-span-1 {
    flex-basis: 8.3333%; }
  #survivor-home .col-span-2 {
    flex-basis: 16.6666%; }
  #survivor-home .col-span-3 {
    flex-basis: 25%; }
  #survivor-home .col-span-4 {
    flex-basis: 33.3333%; }
  #survivor-home .col-span-5 {
    flex-basis: 41.6666%; }
  #survivor-home .col-span-6 {
    flex-basis: 50%; }
  #survivor-home .col-span-7 {
    flex-basis: 58.3333%; }
  #survivor-home .col-span-8 {
    flex-basis: 66.6666%; }
  #survivor-home .col-span-9 {
    flex-basis: 75%; }
  #survivor-home .col-span-10 {
    flex-basis: 83.3333%; }
  #survivor-home .col-span-11 {
    flex-basis: 91.6666%; }
  #survivor-home .col-span-12 {
    flex-basis: 100%; }
  #survivor-home .fixed-width {
    flex: 0 0 500px;
    background-color: rgba(255, 0, 0, 0.1) !important; }
  @media all and (max-width: 568px) {
    #survivor-home .col-span-1,
    #survivor-home .col-span-2,
    #survivor-home .col-span-3,
    #survivor-home .col-span-4,
    #survivor-home .col-span-5 {
      flex-basis: 50%; }
    #survivor-home .col-span-6,
    #survivor-home .col-span-7,
    #survivor-home .col-span-8,
    #survivor-home .col-span-9,
    #survivor-home .col-span-10,
    #survivor-home .col-span-11 {
      flex-basis: 100%; }
    #survivor-home .nested .col {
      flex-basis: 100%; } }
  #survivor-home body {
    font-family: sans-serif; }
  #survivor-home .row {
    background-color: #cccccc;
    background-color: rgba(0, 0, 0, 0.1); }
  #survivor-home .col {
    background-color: #999999;
    background-color: rgba(0, 0, 0, 0.2);
    background-clip: content-box;
    border: 1px solid rgba(0, 0, 0, 0.1); }

@media all and (max-width: 1735px) {
  .about-info {
    display: block; } }

#cover {
  background: url("to/your/ajaxloader.gif") no-repeat scroll center center rgba(0, 0, 0, 0.1);
  position: absolute;
  height: 100%;
  width: 100%; }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; }
  .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'bioimage' 'bio' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: repeat(1, 1fr); }
  .menu-branding .portrait {
    visibility: hidden;
    display: none; }
  .menu-branding p {
    visibility: hidden; }
  .menu-branding h1 {
    font-size: 2rem; } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
  .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'bioimage' 'bio' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: repeat(1, 1fr); }
  .menu-branding .portrait {
    visibility: hidden;
    display: none; }
  .menu-branding p {
    visibility: hidden; }
  .menu-branding h1 {
    font-size: 2rem; }
  #survivor-report table {
    border: 0; }
  #survivor-report table caption {
    font-size: 1.3em; }
  #survivor-report table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  #survivor-report table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em; }
  #survivor-report table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right; }
  #survivor-report table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase; }
  #survivor-report table td:last-child {
    border-bottom: 0; } }

@media screen and (max-width: 769px) {
  #survivor-report table {
    border: 0; }
  #survivor-report table caption {
    font-size: 1.3em; }
  #survivor-report table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  #survivor-report table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em; }
  #survivor-report table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right; }
  #survivor-report table td::before {
    /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase; }
  #survivor-report table td:last-child {
    border-bottom: 0; } }
